.contenedor-tablero {
    /* Se crea un grid 3x3 para ubicar los bloques */
    /* Las dimensiones son auto para que se ajusten al contenido */
    display: inline-grid;
    display: -ms-inline-grid;
    display: -moz-inline-grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    /* Bordes */
    /* Los bordes son para resaltar el tablero */
    border-style: solid;
    border-color: black;
    border-width: 4px;
}

