.box {
    /* Disposicion */
    display: inline-block;
    /* Dimensiones */
    box-sizing: border-box;
    height: 3rem;
    width: 3rem;
    /* Texto */
    font-size: 2.5rem;
    line-height: 3rem;
    color: blue;
    /* Fondo */
    background-color: white;
    /* Bordes */
    border-style: dotted;
    border-color: black;
    border-width: 0.5px;
    /* Para cambiar el cursor */
    cursor: grab;
    /* Para que no se selecione el texto al hacer click */
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;
    /* Para que al recibir foco no aparezca el borde */
    outline: none;
}

.box:active {
    cursor: grabbing;
}

.texto-original {
    color: black;
}

.area-seleccionada {
    background-color: rgba(105, 232, 224, 0.28);
}

.numero-seleccionado {
    background-color: rgba(33, 173, 164, 0.448);
}

.box-seleccionado {
    background-color: rgba(69, 220, 209, 0.866);
}