.box {
    /* Disposicion */
    display: inline-block;
    /* Dimensiones */
    box-sizing: content-box;
    height: 3rem;
    width: 3rem;
    /* Texto */
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
    /* Bordes */
    border-style: dotted;
    border-color: black;
    border-width: 0.5px;
    /* Para cambiar el cursor */
    cursor: grab;
    /* Para que no se selecione el texto al hacer click */
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;
    /* Para que al recibir foco no aparezca el borde */
    outline: none;
}

.box:active {
    cursor: grabbing;
}

.texto-negro {
    color: black;
}

.texto-azul {
    color: rgb(83, 83, 223);
}

.fondo-general {
    background-color: white;
}

.fondo-seleccionado {
    background-color: rgba(31, 173, 163, 1);
}

.fondo-invalido {
    background-color: rgba(255, 0, 0, 0.369);
}

.fondo-bloque {
    background-color: rgba(31, 173, 163, 0.25);
}

.fondo-fila {
    background-color: rgba(31, 173, 163, 0.25);
}

.fondo-columna {
    background-color: rgba(31, 173, 163, 0.25);
}

.fondo-numero {
    background-color: rgba(33, 173, 164, 0.5);
}

.box-apuntes {
    /* Se crea un grid 3x3 para ubicar los apuntes */
    display: grid;
    grid-template-columns: repeat(3, 1rem);
    grid-template-rows: repeat(3, 1rem);
    /* Texto */
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
}