.fondo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    transition: background-color 0.5s, color 0.5s;
    overflow-y: scroll;
}

.dark-mode-toggle-switch {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.dark-switch-text {
    font-size: 32px;
    color: var(--text);
}

.dark {
    /* Color fondo */
    --bg: #303030;
    /* Color texto */
    --text: #E1FFFF;
    /* Color texto azul */
    --text-azul: #3991e9;
    /* Fondo seleccionado */
    --fs: #06302D;
    /* Fondo invalido */
    --fi: rgb(148, 51, 51);
    /* Fondo bloque, fila y columna correspondiente al seleccionado */
    --fbfc: #0D6862;
    /* Fondo numero igual al seleccionado */
    --fn: #129189;
    /* Botones */
    --botones: rgba(31, 173, 163, 0.25);
    /* Botones seleccionados */
    --botones-seleccionados: rgba(31, 173, 163, 0.75);
}

.light {
    /* Color fondo */
    --bg: white;
    /* Color texto */
    --text: black;
    /* Color texto azul */
    --text-azul: rgb(0, 0, 255);
    /* Fondo seleccionado */
    --fs: #9FE9E4;
    /* Fondo invalido */
    --fi: rgba(255, 0, 0, 0.369);
    /* Fondo bloque, fila y columna correspondiente al seleccionado */
    --fbfc: #55D8D0;
    /* Fondo numero igual al seleccionado */
    --fn: #27AAA2;
    /* Botones */
    --botones: rgba(31, 173, 163, 0.25);
    /* Botones seleccionados */
    --botones-seleccionados: rgba(31, 173, 163, 0.75);
}

/* Responsive design (en ingles porque no hay ñ) */
@media only screen and (max-width: 500px) {
    html {
        font-size: calc(100vw/32);
    }
}